* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav {
    height: 50px;
    width: 100%;
    padding: 20px 0;
}

.container {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover,
a.active {
    background-color: #3352F2;
    border-radius: 5px;
    color: white;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}

.booking-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    float: left;
}

.booking-form h3 {
    margin: 10px 0px;
}

.booking-form .input-group {
    margin: 10px 0;
}

.f-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusButton {
    font-size: 21px;
    border: none;
    border-radius: 5px;
    width: 28px;
}

.minusButton {
    font-size: 23px;
    border: none;
    width: 28px;
    font-weight: 700;
    border-radius: 5px;
}

.inp-width {
    min-width: 300px;
}

.plus-minus-btn {
    margin-top: 26px;
    word-spacing: 10px;
}

.booking-form .calculations {
    margin: 10px 0;
}

.booking-form .calculations p {
    font-weight: 500;
    margin-bottom: 10px;
}

.booking-form input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}

.booking-form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.booking-content {
    color: #fff;
    width: 80%;
}

.booking-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-style {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color: #3352F2;
}

.amount {
    display: flex;
    justify-content: space-between;
}


/* extra work */

.extra-section {
    padding: 0;
    background: rgba(112, 184, 103, .3);
    width: 70%;
    height: 150px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 150px;
    margin-top: 150px;
    border-radius: 10px;
    display: none;
}

.extra-section h2 {
    font-size: 41px;
    color: #d64d4d;
}

.extra-section span {
    color: rgb(78, 175, 78);
    font-size: 48px;
}

.extra-section h3 {
    font-size: 61px;
    color: #d64d4d;
}

.extra-section i {
    font-size: 45px;
}